# pip install --upgrade "langgraph-cli[inmem]"
langgraph==0.3.27
langchain-core
langchain-community
langchain-openai
trustcall
ipython
python-dotenv
sounddevice
scipy
numpy

langchain-google-genai==2.1.2
langgraph-prebuilt==0.1.7

openai-whisper
elevenlabs==1.13.1
ffmpeg-python==0.2.0