# Python version: 3.11
numpy
pandas
matplotlib
seaborn
scikit-learn
python-dotenv
tqdm
websockets
ipython
ipywidgets
google
google-genai==1.7.0
google-api-core
pprintpp
pydub
ffmpeg-python
gtts 
requests
jiwer
google-cloud-aiplatform
librosa
soundfile

# deep learning / NLP
transformers[torch]
sentencepiece
hf_xet

azure-storage-blob
azure-cognitiveservices-speech